<!--
  Generated template for the Register page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Signup</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <form #form="ngForm" (ngSubmit)="signup(form.value)" novalidate>
      <ion-list>
        <ion-item>
          <ion-label floating>Full Name</ion-label>
          <ion-input type="text" name="fullname" ngModel required #fullname="ngModel"
                     [class.invalid]="fullname.errors && fullname.dirty"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="fullname.errors?.required && fullname.dirty">
          Fullname is required
        </ion-item>

        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input type="email" name="email" ngModel required email #email="ngModel"
                     [class.invalid]="email.errors && email.dirty"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="email.errors?.required && email.dirty">
          Email is required
        </ion-item>
        <ion-item class="error-message" *ngIf="email.errors?.email && email.dirty">
          Email is not valid
        </ion-item>

        <ion-item>
          <ion-label floating>Username</ion-label>
          <ion-input type="text" name="username" ngModel required #username="ngModel"
                     [class.invalid]="username.errors && username.dirty"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="username.errors?.required && username.dirty">
          Username is required
        </ion-item>
        <ion-item class="error-message" *ngIf="username.errors?.usernameTaken">
          Username already taken
        </ion-item>

        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" name="password" ngModel required #password="ngModel"
                     [class.invalid]="password.errors && password.dirty"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="password.errors?.required && password.dirty">
          Password is required
        </ion-item>

        <div padding>
          <button ion-button color="primary" block type="submit" [disabled]="!form.valid">Sign up</button>
        </div>

      </ion-list>
    </form>

  </div>
</ion-content>
