<ion-menu [content]="nav">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="bg-color">
    <ion-list>
      <button ion-item item-left
        (click)="onLoad(adminPage)"
        *ngIf="isAuthenticated && usrRole === 1">
        <ion-icon class="font" name="book"></ion-icon>
        <strong class="font">Admin Dashboard</strong>
      </button>


      <button ion-item item-left
        (click)="onLoad(homePage)"
        *ngIf="isAuthenticated && usrRole === 2">
        <ion-icon class="font" name="book"></ion-icon>
        <strong class="font">Dashboard</strong>
      </button>

      <button ion-item item-left
        (click)="onLoad(loginPage)"
        *ngIf="!isAuthenticated">
        <ion-icon class="font" name="log-in"></ion-icon>
        <strong class="font">Signin</strong>
      </button>

      <button ion-item item-left
        (click)="onLoad(registerPage)"
        *ngIf="!isAuthenticated">
        <ion-icon class="font" name="person"></ion-icon>
        <strong class="font">Signup</strong>
      </button>

      <button ion-item item-left
              (click)="onLogout()"
              *ngIf="isAuthenticated">
        <ion-icon class="font" name="log-out"></ion-icon>
        <strong class="font">Logout</strong>
      </button>

    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #nav></ion-nav>
