<!--
  Generated template for the AdminAvailableDrivers page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title text-center medium >{{pageTitle}}</ion-title>
    <ion-buttons end >
      <button ion-button icon-only (click)="onShowOptions($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="background-css">

  <ion-fab top right edge>
    <button ion-fab mini color="danger" (click)="loadAddDriverPage()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

    <ion-list>
      <ion-item-sliding *ngFor="let driver of driverList">
        <ion-item (click)="viewDriver(driver)">
          <ion-avatar item-left>
            <img src="https://cdn0.iconfinder.com/data/icons/iconshock_guys/512/andrew.png" width="10px" height="10px">
          </ion-avatar>
          <p>{{driver.fullname}}</p>
        </ion-item>
        <ion-item-options side="left" >
          <button ion-button color="primary" (click)="viewDriver(driver)">
            <ion-icon name="eye"></ion-icon>
            View
          </button>
          <button ion-button color="secondary" (click)="updateDriver(driver)">
            <ion-icon name="open"></ion-icon>
            Edit
          </button>
        </ion-item-options>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deleteDriver(driver.id)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <br>
    <h6 text-center *ngIf="isDriverListEmpty">No any drivers exist..!</h6>
</ion-content>
